* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

* text=auto

*.php text
*.blade.php text
*.css text
*.js text
*.json text
*.md text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text
*.woff binary
*.woff2 binary
*.ttf binary